doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
               include ../public/css/style.css
        title One Film
    body
        section#section
            div#filmHead
                img(src=data.Poster, alt="poster's film", height="200")
                h1=data.Title
            each atrib in data
                div #{atrib}
                

                
            